In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel(r"C:\Users\97155\Downloads\machine_data_File_2023-01-12.xlsx")

In [54]:
data["Application"] = np.nan

In [189]:
Application = []
for i in data.machine_name:
    if "fan" in i.lower():
        Application.append("Fans")
    elif "conveyor" in i.lower():
        Application.append("Conveyor")
    elif "bridle" in i.lower():
        Application.append("Bridle Drives")
    elif "mill" in i.lower():
        Application.append("Mill Stands")
    elif "lt" in i.lower():
        Application.append("LT Drives")
    elif "boom conveyor" in i.lower():
        Application.append("Boom Conveyor")
    elif "drum" in i.lower():
        Application.append("Drum Drive System")
    elif "descale pump" in i.lower():
        Application.append("Descale Pump")
    elif "pit" in i.lower():
        Application.append("Pit Pump")
    elif "looper" in i.lower():
        Application.append("Looper Drives")
    elif "reel" in i.lower():
        Application.append("Pay off reels")
    else:
        Application.append(np.nan)

In [190]:
len(Application)

8758

In [191]:
data["Application"] = Application

In [203]:
data.machine_name.apply(str.lower).str.contains("boom conveyor").sum()

20

In [192]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8758 entries, 0 to 8757
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   monitor_name        8758 non-null   object
 1   monitor_id          8758 non-null   int64
 2   monitor_type        8758 non-null   object
 3   machine_name        8758 non-null   object
 4   machine_id          8758 non-null   int64
 5   machine_type        8758 non-null   object
 6   plant_name          8758 non-null   object
 7   industry_type       5961 non-null   object
 8   org_name            8758 non-null   object
 9   subscription_start  8752 non-null   datetime64[ns]
 10  subscription_end    8752 non-null   datetime64[ns]
 11  Application         2435 non-null   object
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 821.2+ KB

In [196]:
data.to_excel("machine_data_file(with applications)_2023-01-14.xlsx",index=False)

In [198]:
data.columns

Index(['monitor_name', 'monitor_id', 'monitor_type', 'machine_name',
       'machine_id', 'machine_type', 'plant_name', 'industry_type', 'org_name',
       'subscription_start', 'subscription_end', 'Application'],
      dtype='object')